doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='modules/es6-shim/es6-shim.min.js')
    script(src='modules/systemjs/dist/system-polyfills.js')
    script(src='modules/angular2/bundles/angular2-polyfills.js')
    script(src='modules/systemjs/dist/system.src.js')
    script(src='modules/rxjs/bundles/Rx.min.js')
    script(src='modules/angular2/bundles/angular2.js')
    script(src='modules/angular2/bundles/http.min.js')
    script(src='javascripts/systemRegister.js')
  body
    include desktop-nav
    block content
