<!DOCTYPE html>
<html>
  <head>
    <title>Claimbook</title>
    <base href='/'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/modules/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bower_components/animate.css/animate.min.css' />
    <script src='modules/es6-shim/es6-shim.min.js'></script>
    <script src='modules/systemjs/dist/system-polyfills.js'></script>
    <script src='modules/angular2/bundles/angular2-polyfills.min.js'></script>
    <script src='modules/systemjs/dist/system.src.js'></script>
    <script src='modules/rxjs/bundles/Rx.min.js'></script>
    <script src='modules/angular2/bundles/angular2.min.js'></script>
    <script src='modules/angular2/bundles/http.min.js'></script>
    <script src='modules/angular2/bundles/router.min.js'></script>
    <script src='javascripts/systemRegister.js'></script>
  </head>
  <body>
    <%= include desktop-nav %>
    <%- body -%>
  </body>
</html>
