<html>
  <head>
    <title>Jasmine Testing</title>
    <link rel="stylesheet" href="/modules/jasmine-core/lib/jasmine-core/jasmine.css"/>
    <script src="/modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="/modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src="/modules/jasmine-core/lib/jasmine-core/boot.js"></script>
    <script src="/modules/systemjs/dist/system.src.js"></script>
    <script src="/javascripts/systemTestRegister.js"></script>

    <!--to actually load your new spec see /public/javascripts/systemTestRegister -->
    <!--and import your spec through systemjs-->
  </head>
  <body></body>
</html>