<nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav nav-tabs navbar-left">
			<li><a href="/">Home</a></li>
			<li *ngIf="!isAuth"><a href="/login?loginForm=true">Login</a></li>
			<li *ngIf="!isAuth"><a href="/login?loginForm=false">Sign up</a></li>
			<li *ngIf="isAuth"><a href="/profile">Profile</a></li>
			<li *ngIf="isAuth"><a href="/todo">Todo</a></li>
			<li *ngIf="isAuth"><a (click)="logout()" href="#">Logout</a></li>
		</ul>
		<div class="status navbar-right">
			<p>Am i authorized: {{authName}}</p>
			<p *ngIf="isAuth">My User Name is: {{isAuth}}</p>
		</div>
	</div>
</nav>