	<div class="ui raised segment" style="margin-top:-20px;padding-top:50px; padding-bottom:50px;">
		<h1 class='ui huge blue center aligned header'>CLAIMBOOK</h1>
		<i style="position: relative; display: block; text-align: center">If you claim to know something, you can stake your credibility here.</i>
	</div>

	
<div class="ui container">
	<h2>View New Claims</h2>
	<div class="ui five column grid" style="margin-bottom:10px;">
		<div class="column">
			<a class="ui item" href="/claim/claim-one">
				<div class="ui small fluid image">
					<a class="ui left corner label">
						<i class="red basic heart icon"></i>
					</a>
					<img src="/image.png">
					<div class="ui bottom attached label">Claim One</div>
				</div>
			</a>
		</div>
		<div class="column">
			<a class="ui item" href="/claim/claim-two">
				<div class="ui small fluid image">
					<a class="ui left corner label">
						<i class="red basic heart icon"></i>
					</a>
					<img src="/image.png">
					<div class="ui bottom attached label">Claim Two</div>
				</div>
			</a>
		</div>
		<div class="column">
			<div class="ui small fluid image">
				<a class="ui left corner label">
					<i class="red basic heart icon"></i>
				</a>
				<img src="/image.png">
				
			</div>
		</div>
		<div class="column">
			<div class="ui small fluid image">
				<a class="ui left corner label">
					<i class="red basic heart icon"></i>
				</a>
				<img src="/image.png">
			</div>
		</div>
		<div class="column">
			<div class="ui small fluid image">
				<a class="ui left corner label">
					<i class="red basic heart icon"></i>
				</a>
				<img src="/image.png">
			</div>
		</div>
	</div>
	
	
</div>