/**
* todo-list
**/
todo-list ul > li{
	margin-bottom:10px;
}


/**
* login-form
**/
login-form .ui.message{
	margin-bottom:10px !important;
}

login-form input{
	margin-bottom:5px !important;
}


/**
* captcha
**/
#recaptcha_widget_div{
	display:none;
}

#captcha_div{
	margin-bottom:10px;
}

#captcha_div #recaptcha_widget_div{
	display:block;
}