/**
* login-form
**/

login-form .container{
	margin-top:10px;
}

login-form .form-group input{
	margin-bottom:5px;
}

/**
* desktop-navigation
**/

desktop-navigation nav{
	border-bottom:1px solid black;
}

desktop-navigation nav .container{
	margin-top:10px;
	margin-bottom:10px;
}

desktop-navigation nav ul{
	list-style:none;
}

/**
* todo-list
**/
todo-list ul > li{
	margin-bottom:10px;
}

/**
* captcha
**/
#recaptcha_widget_div{
	display:none;
}

#captcha_div{
	margin-bottom:10px;
}

#captcha_div #recaptcha_widget_div{
	display:block;
}