html
	head
		title Jasmine Testing
		link(rel='stylesheet' href='/modules/jasmine-core/lib/jasmine-core/jasmine.css')
		script(src='/modules/jasmine-core/lib/jasmine-core/jasmine.js')
		script(src='/modules/jasmine-core/lib/jasmine-core/jasmine-html.js')
		script(src='/modules/jasmine-core/lib/jasmine-core/boot.js')
		script(src='/modules/systemjs/dist/system.src.js')
		script(src='/javascripts/systemTestRegister.js')
		//to actually load your new spec see /public/javascripts/systemTestRegister 
		//and import your spec through systemjs

	body